.body,html{
    height:100%;
    margin: 0;
    }

.logo img{
   height: 100px;
   width: 100px;
   margin-top: 25px;
   float:left;
   margin-left: 25px;
}
header{
    background-image: url("images.jfif");
    height: 100vh;
    background-position: center;
    opacity: 0.7;
}
.caption{
    margin-left: 15%;
    margin-top: 20%;
    display: inline-block;
    
}
  ul{
    list-style-type: none;
    margin-bottom:80px;
    padding: 0;
    overflow: hidden;
    
    width: 40%;
    float: right;
    margin-top:0px;
}

li {
    float: left;
}

li a {
    display:inline-block;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.login{
     background-color: grey;
    border: 2px solid black;
    color: black;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    
}
.register{
     background-color: grey;
    border: 2px solid black;
    color: black;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}